<!DOCTYPE html>
<html>
<head>
  <title>LearnGlobalize</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% I18n.available_locales.each do | locale | %>
  <%= link_to locale, url_for( :locale => locale )%>
<% end %>

<%= yield %>

</body>
</html>
